.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  margin: auto;
  padding-block-start: 100px;
  background-color: var(--color-bg, #fff);
  color: var(--color-main, #000);
  background-image: var(--img-bg);
  background-size: cover;
  background-attachment: fixed;
}

.popup {
  max-inline-size: 357px;
  padding: 30px;
  background-color: var(--color-bg, #fff);
  border: 2px solid var(--color-main, #000);
  font-family: var(--font-accent, Courier, monospace);
  color: var(--color-main, #000);
  text-transform: uppercase;
}

.popup__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.popup__text {
  flex: 1;
  font-size: 14px;
  line-height: 1.5;
}

.form {
  padding-block-start: 30px;
}

.popup__close-btn {
  width: 100%;
  padding-block: 12.5px;
  text-transform: uppercase;
}

.popup::backdrop {
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.75;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-main, #000);
  background-color: var(--color-bg, #fff);
}

.card__title {
  padding: 4px 24px 4px 10px;
  border-block-end: 2px solid var(--color-main, #000);
  font-size: 18px;
  line-height: 1.21;
  font-variation-settings: "wght" var(--font-weight-title);
}

.card__image {
  position: relative;
}

.image-source {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: right;
  width: 100%;
}

.card__text {
  padding: 23px 25px 25px;
  border-block-start: 2px solid var(--color-main, #000);
  display: flex;
  flex-direction: column;
  gap: 29px;
  font-size: 18px;
  line-height: 1.16;
  font-variation-settings: "wdth" var(--font-weight-main);
}

.card__buttons {
  padding: 0 25px 25px;
  display: flex;
  justify-content: flex-end;
  gap: 3px;
}

.grayscale {
  filter: grayscale(0.8) contrast(0.8);
}

.saturate {
  filter: saturate(4);
}

.hue {
  filter: hue-rotate(30deg);
}

.invert {
  filter: invert(1) contrast(0.6);
}

.sepia {
  filter: sepia(0.9);
}

.blur {
  filter: blur(18px);
}

.mult {
  filter: hue-rotate(90deg) blur(2px) contrast(0.5) saturate(1.5);
}

.button {
  position: relative;
  border: 2px solid var(--color-main, #000);
  background: transparent;
  cursor: pointer;
}

.button__text {
  color: var(--color-blend, #fff);
  font-size: 14px;
  line-height: 1.11;
  font-family: var(--font-accent, Courier, monospace);
  mix-blend-mode: difference;
}

.card__like-button {
  min-inline-size: 130px;
}

.btn-shad:focus {
  box-shadow: 2px 2px 0 var(--color-main, #000);
  outline: none;
}

.button-paint::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  transform-origin: left;
  background-color: currentColor;
  transition: transform 0.5s ease-in-out;
}

.button-paint:hover::before {
  transform: scaleX(1);
}

.card__icon-button {
  padding: 0;
  border: 2px solid transparent;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--color-main, #000);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--color-main, #000);
  margin-block-end: 100px;
  height: 364px;
  background-color: var(--color-bg, #fff);
  font-family: var(--font-accent, Courier, monospace);
}

.header__logo {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  padding-block-start: clamp(7.5rem, 6.3462rem + 4.9231vw, 8.5rem);
  margin-block-end: 20px;
  font-weight: var(--font-weight-main);
  line-height: 1;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  font-weight: var(--font-weight-main);
  line-height: 1;
  text-transform: uppercase;
}

.header__theme-menu {
  padding-block: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-inline-start: 11px;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  line-height: 1;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.theme-menu__button:hover,
.theme-menu__button:focus {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.like-icon {
  overflow: visible;
  width: 39px;
}

.main-body,
.core {
  fill: none;
}

.like-icon:hover .core,
.like-icon:hover .main-body {
  fill: var(--color-main, #000);
}

.like-icon:active .core,
.like-icon:active .main-body {
  fill: var(--color-heart-mb, #f00);
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour {
  fill: var(--color-heart-mb, #f00);
}

.sparks {
  opacity: 0;
}

.watermark {
  position: absolute;
  inset-inline-end: clamp(0.8125rem, 0.5475rem + 1.1278vw, 1.5625rem);
  top: 25px;
  font-size: 14px;
  opacity: 0.5;
  font-family: var(--font-accent, Courier, monospace);
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--color-bg, #fff),
    0 1px var(--color-bg, #fff),
    1px 0 var(--color-bg, #fff),
    0 -1px var(--color-bg, #fff);
}

.save {
  display: flex;
  justify-content: center;
  padding: 52px 0 103px;
}

.save__button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 18px 20px;
  background-color: var(--color-bg, #fff);
}

.floppy {
  width: 21px;
  color: var(--color-blend, #fff);
  mix-blend-mode: difference;
}

.floppy-dlg {
  width: 39px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--font-main, Arial, Helvetica, sans-serif);
  }
}

@supports ((text-stroke: 1px var(--color-bg)) or (-webkit-text-stroke: 1px var(--color-bg))) {
  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-bg, #fff);
  }
}

@media (max-width: 375px) {
  .watermark {
    inset-inline-end: 13px;
  }

  .save__button {
    flex-direction: column;
  }

  .popup {
    padding: clamp(1.875rem, -2.4886rem + 21.8182vw, 2.625rem);
  }

  .floppy {
    width: 28px;
  }
}
